:root{
    --main-gray: #202124;
    --main-text: white;
    --footer-text: #9aa0a6;
}
body{
    font-family: arial, sans-serif;
    background-color: var(--main-gray);
    width: 100vw;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.header{
    height: 3.4rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: visible;
}
.header svg{
    width: 1.6rem;
    color: rgba(255,255,255,0.87);
    fill: rgba(255,255,255,0.87);
    margin-right: 1.4rem;
}
.header path{
    color: rgba(255,255,255,0.87);
}
.header a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}
.img-a{
    margin-left: 1rem;
    margin-right: 2rem;
}
.acc-btn{
    font-family: "roboto";
    margin-right: 3rem;
    height: 2.4rem;
    width: 6rem;
    background-color: #93baf9;
    text-decoration: none;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.3);
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 17px;
}
.container-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
    height: 18rem;
    margin-bottom: 1.8rem;
}
.google-logo{
    width: 20rem;
}
.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-search{
    display: flex;
    align-items: center;
    width: 36rem;
    height: 2.8rem;
    border: 1px solid #5f6368;
    border-radius: 30px;
    overflow: hidden;
}
.container-search:hover{
    background-color: #303134;
    border: none;
}
.container-glass{
    width: 1.2rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.glass{
    display: flex;
    align-items: center;
    justify-content: center;
}
.svg-glass{
    fill: rgb(154, 160, 166);
}
.input-text{
    width: 90%;
    height: 90%;
    color: white;
    margin-left: 0.6rem;
    border: none;
    background-color: inherit;
    outline: none;
    caret-color: white;
}
.button-container{
    margin-top: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.6rem;
    align-self: center;
}
.button-container button{
    height: 80%;
    width: 10rem;
    background-color: #303134;
    border: none;
    font-size: 15px;
    color: white;
    font-weight: lighter;
    border-radius: 3px;
}
.button-container button:hover{
    border: 1px solid #5f6368;
}
.lucky{
    margin-left: 1rem;
}
.footer{
    background-color: rgb(33, 35, 39);
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer1{
    display: flex;
    height: 2.4rem;
    border-bottom: solid 1px #9aa0a6;
    color: #9aa0a6;
    align-items: center;
}
.footer2{
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #9aa0a6;
}
.mexico{
    margin-left: 2rem;
}
.google{
    display: flex;
    justify-content: space-around;
    width: calc(100%/3);
}
.busqueda{
    width: calc(100%/3);
    display: flex;
    justify-content: center;
}
.privacidad{
    display: flex;
    width: calc(100%/3);
    justify-content: space-around;
}
@media (max-width: 600px){
    .footer2{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .google{
        width: 100%;
    }
    .busqueda{
        width: 100%;
    }
    .privacidad{
        width: 100%;
    }
}